.header {
    background-color: #5f9b12be;
    color: #660101;
    padding: 20px;
    text-align: center;
  }
  
  .header h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .film-card {
    background-color: #aedb0c69;
    border: 1px solid #89a008b0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px #f301011a;
    margin: 10px;
    max-width: 300px;
    text-align: center;
  }
  
  .film-card img {
    max-width: 100%;
    height: auto;
  }
  
  
  
  
  
  
  
  @media (max-width: 768px) {
    .movie-list {
      flex-direction: column;
    }
  
  }
  

    
  
  